@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Eczar&family=Gentium+Basic&family=Nanum+Gothic&display=swap');

body {
  margin: 0;
  padding: 0;
  border: none;
  background-color: #fbf4f9;
}

.App{
  height: 100vh;
}

/*------------------------------------ HEADER------------------------------------ */

.head-content {
  max-width: 60%;
  margin: auto;
  padding-top: 10vh;
  margin-bottom: 10vh;
}

.head-title {
  font-size: 4rem;
  text-align: center;
  font-family: 'Dancing Script', sans-serif;
}

.head-body {
  margin-top: 5vh;
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 1rem;
}

/*------------------------------------ QUOTE------------------------------------ */


.card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 75%;
  margin: auto;
  margin-top: 20vh;
  padding: 2vh;
  padding-bottom: 0;
  box-shadow: 2px 5px 25px hsla(212, 76%, 54%, 0.3);
  border-radius: 5px;
  margin-bottom: 7vh;
}


.quote-content{
  font-size: 2rem;
  grid-column: 1/3;
  margin-bottom: 5vh;
  font-family: 'Gentium Basic', serif;
}

.author {
  font-family: 'Eczar', serif;
  color: #1eb2a6;
}

.source {
  grid-column: 2/3;
  justify-self: end;
  font-family: 'Eczar', serif;
  color: #1eb2a6;
}

/*------------------------------------ FOOTER------------------------------------ */


footer, a {
  text-align: center;
  color: #8ac6d1;
}

.wrapper{
  min-height: 100%;
  margin-bottom: 10px;
}

footer {
  margin-top: -6vh;
}

a {
  text-decoration: none;
  font-weight: bold;
  font-style: oblique;
}

/*------------------------------------ ANIMATION------------------------------------ */

/* enter */

.fade-enter {
  opacity: 0;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 1000ms linear 300ms;
}

/* exit */

.fade-exit {
  opacity: 0;
}
.fade-exit.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms linear;
}
.fade-exit-done {
  opacity: 0;
}


/*---------------------------------------------------- MOBILE---------------------------------------------------- */


@media (max-width: 980px) {

  /*------------------------------------ HEADER------------------------------------ */

  .head-content {
    padding-top: 10vh;
    max-width: 70%
  }

  .head-title {

    font-size: 5rem;
  }

  .head-body {
    font-size: 1.7rem;
  }

  /*------------------------------------ QUOTE------------------------------------ */


  .card {
    margin-top: 13vh;
  }

  .quote-content {
    font-size: 3rem;
  }

  .author{
    font-size: 1.5rem;
  }

  .source{
    font-size: 1.5rem;
  }

  /*------------------------------------ FOOTER------------------------------------ */


  footer {
    font-size: 1.5rem;
    margin-top: -5vh;
  }
}
